/* Variables */

:root{
    --background-color: #F0F4F4;
    --background-color-light: rgba(240, 244, 244, 0.05);
    --text-color: #182747;
    --text-accent: #FF6E31;
    --disabled-color: #DDDDDD;
    --mockup-1: #B12647;
    --mockup-1-light: rgba(177, 38, 71, 0.3);
    --mockup-2: #51B39F;
    --mockup-2-light: rgba(81, 179, 159, 0.5);
    --mockup-3: #DEAD75;
    --mockup-3-light: rgba(222, 173, 117, 0.5);
    --mockup-3-accent: #F18703;
    --font-size-h1: clamp(55px, 5vw, 80px);
    --font-size-h2: clamp(45px, 5vw, 55px);
    --font-size-h3: clamp(35px, 5vw, 45px);
    --font-size-p: clamp(25px, 5vw, 35px);
    --font-size-footer: clamp(15px, 5vw, 20px);
}

/* CSS generalities */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: var(--background-color); 
    font-family: 'Garamount';
    color: var(--text-color);
    font-size: var(--font-size-p);
    color: var(--text-color) !important;
}

img {
    object-fit: cover;
}

svg {
    fill: var(--text-color);
    transition: transform .1s;
}

svg:hover {
    fill: var(--text-accent);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

h1 {
    font-size: var(--font-size-h1) !important;
}

h2 {
    font-size: var(--font-size-h2) !important;
}

h3 {
    font-size: var(--font-size-h3) !important;
}

p {
    font-size: var(--font-size-p) !important;
}

.p-accent {
    font-weight: 500;
}

/* Navigation bar */

.navbar {
    position: fixed !important;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--background-color-light);
    backdrop-filter: blur(4px);
}

.navbar a {
    color: var(--text-color);
    font-size: var(--font-size-h2);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text-accent);
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul  li.active a {
    font-weight: bold;
}

@media screen and (max-width: 1400px) {
    .nav-links {
        display: none;
    }
}

/* Container */

.container-header {
    min-height: 100vh;
    margin: auto;
    padding-top: 15%;
}

.container-header .row {
    margin-bottom: 15%;
}

/* Links */

.link {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-p);
    font-weight: bold;
}

.link:hover {
    color: var(--text-accent);
}

.link:hover svg {
    fill: var(--text-accent);
    transform: scale(1.2);
    background-position: -100px;
    animation: leftAndRight 0.5s alternate infinite;
}

@keyframes leftAndRight {
    0% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(-3px);
    }
}

/* Footer */

footer {
    font-size: var(--font-size-footer) !important;
}

/* Button */

.button-process {
    background-color: var(--mockup-3-accent);
    color: var(--background-color);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    text-align: center;
    font-size: var(--font-size-footer) !important;
    font-weight: bold;
    border: none;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    line-height: 150px;
}

.button-process:hover {
    background-color: var(--mockup-3-light);
    color: var(--background-color);
}

.button-process-disabled {
    background-color: var(--disabled-color);
    color: var(--background-color);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    text-align: center;
    font-size: var(--font-size-footer) !important;
    font-weight: bold;
    border: none;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    line-height: 150px;
}

.button-process-disabled:hover {
    background-color: var(--disabled-color);
    color: var(--background-color);
}

@media screen and (max-width: 1900px) {
    .button-process-disabled {
        width: 120px;
        height: 120px;
        line-height: 120px;
    }
    .button-process {
        width: 120px;
        height: 120px;
        line-height: 120px;
    }
}

@media screen and (max-width: 1600px) {
    .button-process-disabled {
        width: 110px;
        height: 110px;
        line-height: 110px;
    }
    .button-process {
        width: 110px;
        height: 110px;
        line-height: 110px;
    }
}

@media screen and (max-width: 1400px) {
    .button-process-disabled {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .button-process {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
}

/* Index */

.mockup1 {
    background-color: var(--mockup-3-light);
}

.mockup2 {
    background-color: var(--mockup-3-light);
}

.mockup3 {
    background-color: var(--mockup-3-light);
}

.preview-mockup-1 {
    background-image: url(img/Mockup-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 40vh;
}