/* Variable */
:root{
    --background-color: #F0F4F4;
    --text-color: #182747;
    --mockup-1: #B12647;
    --mockup-1-light: rgba(177, 38, 71, 0.3);
    --mockup-2: #51B39F;
    --mockup-2-light: rgba(81, 179, 159, 0.5);
    --mockup-3: #DEAD75;
    --mockup-3-light: rgba(222, 173, 117, 0.5);
    --font-size-H1: 60px;
    --font-size-H2: 55px;
    --font-size-p: 30px;
    --font-size-footer: 20px;
}

/* Variable class */

/* CSS generalities */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: var(--background-color); 
    font-family: 'Garamount';
    color: var(--text-color);
    font-size: var(--font-size-p);
}

img {
    object-fit: cover;
}

p {
    font-size: var(--font-size-p) !important;
}

h1 {
    font-size: var(--font-size-H1) !important;
}

h2 {
    font-size: var(--font-size-H2) !important;
}

/* Navigation bar */

.navbar {
    position: fixed !important;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: var(--text-color);
    font-size: var(--font-size-H2);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text-color);
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}
.navbar .nav-links ul  li.active a {
    font-weight: bold;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

@media screen and (max-width: 900px) {
    .navbar .menu-hamburger {
        display: block;
    }
    .nav-links {
        display: none;
    }
}

/* Container */

.container-body-top {
    height: 100vh;
    width: 60%;
    margin: auto;
    padding-top: 15%;
}

.container-body {
    top: 0;
    height: 100vh;
    width: 60%;
    margin: auto;
}

/* Links */

.link {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-p);
    font-weight: bold;
}

.link:hover {
    color: var(--text-color);
}

/* Links */
.footer {
    font-size: var(--font-size-footer);
}

/* Index */
.mockup1 {
    background-color: var(--mockup-3-light);
}

