/* Variable */
:root{
    --background-color: #F0F4F4;
    --background-color-light: rgba(240, 244, 244, 0.05);
    --text-color: #182747;
    --text-accent: #FF6E31;
    --mockup-1: #B12647;
    --mockup-1-light: rgba(177, 38, 71, 0.3);
    --mockup-2: #51B39F;
    --mockup-2-light: rgba(81, 179, 159, 0.5);
    --mockup-3: #DEAD75;
    --mockup-3-light: rgba(222, 173, 117, 0.5);
    --font-size-h1: clamp(50px, 5vw, 100px);
    --font-size-h2: clamp(40px, 5vw, 90px);
    --font-size-p: clamp(20px, 5vw, 40px);
    --font-size-h1-preview: clamp(30px, 5vw, 60px);
    --font-size-h2-preview: clamp(20px, 5vw, 50px);
    --font-size-p-preview: clamp(10px, 5vw, 30px);
    --font-size-footer: clamp(10px, 5vw, 30px);
    /*
    --font-size-lg-h1: 70px;
    --font-size-lg-h2: 60px;
    --font-size-lg-p: 50px;
    --font-size-lg-footer: 10px;*/
}

/* Variable class */

/* CSS generalities */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: var(--background-color); 
    font-family: 'Garamount';
    color: var(--text-color);
    font-size: var(--font-size-p);
    color: var(--text-color) !important;
}

img {
    object-fit: cover;
}

svg {
    fill: var(--text-color);
    transition: transform .1s;
}

svg:hover {
    fill: var(--text-accent);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

p {
    font-size: var(--font-size-p) !important;
}

h1 {
    font-size: var(--font-size-h1) !important;
}

h2 {
    font-size: var(--font-size-h2) !important;
}

.p-preview {
    font-size: var(--font-size-p-preview) !important;
}

.h1-preview {
    font-size: var(--font-size-h1-preview) !important;
}

.h2-preview {
    font-size: var(--font-size-h2-preview) !important;
}

/*@media screen and (min-width: 992px) {
    p {
        font-size: var(--font-size-lg-p) !important;
    }
    
    h1 {
        font-size: var(--font-size-lg-h1) !important;
    }
    
    h2 {
        font-size: var(--font-size-lg-h2) !important;
    }

    .link {
        font-size: var(--font-size-lg-p) !important;
    }
    .footer {
        font-size: var(--font-size-lg-footer) !important;
    }
}*/

/* Navigation bar */

.navbar {
    position: fixed !important;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--background-color-light);
    backdrop-filter: blur(4px);
}

.navbar a {
    color: var(--text-color);
    font-size: var(--font-size-h2);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text-accent);
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}
.navbar .nav-links ul  li.active a {
    font-weight: bold;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

@media screen and (max-width: 1400px) {
    .navbar .menu-hamburger {
        display: block;
    }
    .nav-links {
        display: none;
    }
}

/* Container */

.container-header {
    min-height: 100vh;
    margin: auto;
    padding-top: 20%;
}
.container-body {
    height: auto;
    margin: auto;
}

.container-header .row {
    margin-bottom: 10%;
}

/* Links */

.link {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-p);
    font-weight: bold;
}

.link:hover {
    color: var(--text-accent);
}

.link:hover svg {
    fill: var(--text-accent);
    transform: scale(1.2);
    background-position: -100px;
    animation: leftAndRight 0.5s alternate infinite;
}

@keyframes leftAndRight {
    0% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(-3px);
    }
}

/* Links */
.footer {
    font-size: var(--font-size-footer) !important;
}

/* Index */
.mockup1 {
    background-color: var(--mockup-3-light);
}

.mockup2 {
    background-color: var(--mockup-3-light);
}

.mockup3 {
    background-color: var(--mockup-3-light);
}

